.headingSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.checkoutHeading {
    text-align: left;
    width: 100%;
    display: block;
}

.deliveryContainer {
    display: flex;
    gap: 20px;
    margin: 0 !important;
}

.deliveryOption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px !important;
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 250px !important;
    margin: auto;
    background-color: #E8EDF2;
    cursor: pointer;
}

.selectedDelivery {
    border: 3px solid #089218;
}

.option-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-right {
    font-size: 14px;
}

.option-right .option-details {
    margin: 2px 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

.option-price {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 2px;
}

.deliveryIcon {
    height: 12px;
}

/* Route Details */

.routeSection {
    width: 95%;
}

.routeContainer {
    padding: 30px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #E8EDF2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.route {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
    align-items: center;
    font-size: 14px;
}

.routeDetails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 30px;
    justify-content: center;
    font-size: 14px;
}

.horizontal-line {
    width: 50px;
    height: 2px;
    background-color: #575A5D;
    margin: auto;
}

.mode,
.time,
.carbon {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 40px;
    gap: 5px;
}

.routeIcon {
    height: 15px;
}

.subHeading {
    font-weight: 500;
    font-size: 20px;
}

/* Carbon Meter Section */
.carbonMeterSection {
    display: flex;
    align-items: center;
    text-align: center;
}

.carbonMeterContainer {
    background-color: #E8EDF2;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 6% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.routeOuterContainer {
    width: 80%;
}

/* Gauge */

.value-text,
.tick-value,
.tick-line {
    display: none;
}