.mainDiv{
    @apply min-h-screen bg-gradient-to-b from-gray-50 to-gray-100
}

.main{
    @apply container mx-auto px-4 py-8
}

.body{
   @apply grid grid-cols-1 lg:grid-cols-3 gap-8
}
.cartItems{
    @apply lg:col-span-2 space-y-6
}
.itemsHeading
{
    @apply text-xl sm:text-2xl md:text-3xl font-semibold
}
.cartDetails{
    @apply lg:col-span-1 space-y-6
}
.detailsHeading{
    @apply text-xl sm:text-2xl md:text-3xl font-semibold invisible
}